%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "#"}
        Eat My Heat
      %p.navbar-text.navbar-right
        %i
          %small Where to find nice places!
